<div class="reverb-notification-page">
	<div class="reverb-notification-page-left">
		<div class="reverb-filter-title">
			<span class="reverb-pull-right"><i class="fa fa-sliders-h"></i></span>
			 {{ wfMessage('filter-by-type', 'plain') }}
		</div>

		<div class="reverb-filter-row">
			<input type="checkbox" id="filter_all" class="reverb-filter-checkbox" checked="checked"> 
			<label for="filter_all" class="reverb-filter-label"> All
		</div>
		
		{% for group, types in groups %}
			<div class="reverb-filter-row">
				<input type="checkbox" id="filter_{{ group }}" data-types="{{ types|join(',') }}" class="reverb-filter-checkbox">
				<label for="filter_{{ group }}" class="reverb-filter-label"> {{ wfMessage('special-sidebar-' ~ group, 'plain', '50') }} </label>
			</div>
		{% endfor %}
		</div>
	<div class="reverb-notification-page-right">
		<div class="reverb-button-bar">
			<span class="reverb-pull-right">
				<button id="reverb-mark-all-read">{{ wfMessage('special-button-mark-all-read', 'plain') }}</button>
			</span>
			<button id="reverb-ru-all" class="reverb-active-button">{{ wfMessage('special-button-all', 'plain', '0') }}</button>
			<button id="reverb-ru-read">{{ wfMessage('special-button-read', 'plain', '0') }}</button>
			<button id="reverb-ru-unread">{{ wfMessage('special-button-unread', 'plain', '0') }}</button>
		</div>
		<div class="reverb-notification-page-paging reverb-npp-top"></div>
		<!--
		<div class="reverb-notification-page-row reverb-npn-row-global">
			<div class="reverb-npnr-left">
				<img src="/extensions/Reverb/resources/icons/global.svg"
					class="reverb-icon reverb-icon-global">
			</div>
			<div class="reverb-npnr-right">
				<div class="reverb-npnr-header">
					3 unread notifications from other wikis. <i class="fa fa-chevron-down"></i>
					<span class="reverb-npnr-unread reverb-npnr-unread-global"></span>
				</div>
			</div>
		</div>
		-->
		<div class="reverb-notification-page-notifications">

			<!-- Notifications will be filled here by glorius JAVASCRIPT -->

		</div>
		<div class="reverb-notification-page-paging reverb-npp-bottom"></div>
	</div>
</div>